<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-fhir-client.ZPM">
    <Module>
      <Name>iris-fhir-client</Name>
      <Version>1.0.2</Version>
      <Description>IRIS FHIR Client to connect with any open FHIR Server</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.PKG"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>   
      <Invoke Class="dc.FhirClient" Method="Init"></Invoke>
  
      <CSPApplication
        Url="/csp/fhirclient"
        Path="/src/csp"
        Directory="{$cspdir}/fhirclient"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/csp/fhirclient/" 
        UseCookies="2"
        MatchRoles=":{$dbrole}" 
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
       />
    </Module>
  </Document>
</Export>
